# Analysis of Original Data
Initial analysis of 30 minutes USB data.
## Prerequesities

In [1]:
import toml
from sqlalchemy import create_engine
import pandas as pd

conf = toml.load('../../conf.toml')
db = conf['database']['local']

conn = create_engine('postgresql+psycopg2://{}:{}@{}:{}/{}'.format(
    db['user'], db['password'], db['host'], db['port'], db['name']
)).connect()

pv = pd.read_sql('SELECT * FROM pv_org', conn)
pv.dtypes

date                       object
time                       object
inverter_no                 int64
device_type                 int64
periode_s                 float64
energy_positiv_ws         float64
reactive_energy_l_vars    float64
reactive_energy_c_vars    float64
uac_l1_v                  float64
iac_l1_a                  float64
udc_mppt1_v               float64
idc_mppt1_a               float64
udc_mppt2_v               float64
idc_mppt2_a               float64
description                object
dtype: object

## Explanation of Columns
### date and time
- Night: about every 90 Minuten 4 observations
- Day: every 30 minutes 1 observation

### inverter_no
- all observations are 1

### device_type
- all obseravations are 76

### periode_s
- number of seconds between observations
- at night NaN
- at day 1800 (30 minutes)

### energy_positiv_ws
- Ws: watt seconds
- at night NaN
- Energy produced in last half hour

### reactive_energy_l_vars
- VAR: voltampere reactiv
- at night NaN
- 1 VAR = 1 W
- electrical energy that is lost
- happens with ac
- inductive (l), capacitive (c) load

### uac_l1_v
- V: Volt
- at night NaN
- voltage at output
- about 230 volt as in german electricity grid

### iac_l1_a
- A: Ampere
- at night NaN
- current at output

### udc_mppt1_v and udc_mppt2_v
- at night NaN
- voltage at input
- 2 inputs

### idc_mppt1_a and idc_mppt2_a
- at night NaN
- current at input
- 2 inputs

### description
- at day NaN
- at night: about every 90 minutes 4 observations

In [2]:
pv

,date,time,inverter_no,device_type,periode_s,energy_positiv_ws,reactive_energy_l_vars,reactive_energy_c_vars,uac_l1_v,iac_l1_a,udc_mppt1_v,idc_mppt1_a,udc_mppt2_v,idc_mppt2_a,description
0,2020-10-12,21:53:33,1,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Display Information
1,2020-10-12,21:53:33,1,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,V0.3.23 Build 0
2,2020-10-12,21:53:33,1,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"12.10.2020 20:30:55 Info 017, Counter 2302"
3,2020-10-12,21:53:33,1,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Logging Start
4,2020-10-12,23:17:36,1,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Display Information
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5784,2020-12-18,18:37:48,1,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Logging Start
5785,2020-12-18,20:01:56,1,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Display Information
5786,2020-12-18,20:01:56,1,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,V0.3.23 Build 0
5787,2020-12-18,20:01:56,1,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,"18.12.2020 18:39:18 Info 017, Counter 3447"
5788,2020-12-18,20:01:56,1,76,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Logging Start

In [3]:
pv.describe()

,inverter_no,device_type,periode_s,energy_positiv_ws,reactive_energy_l_vars,reactive_energy_c_vars,uac_l1_v,iac_l1_a,udc_mppt1_v,idc_mppt1_a,udc_mppt2_v,idc_mppt2_a
count,5789.0,5789.0,1205.000000,1.205000e+03,1205.000000,1205.000000,1205.000000,1205.000000,1205.000000,1205.000000,1205.000000,1205.000000
mean,1.0,76.0,1800.131120,1.212920e+06,19525.678838,3102.266390,219.718091,2.875253,156.083983,1.947768,158.164315,2.000423
std,0.0,0.0,4.725108,1.739445e+06,20898.856762,1859.573549,55.462679,4.072522,43.246186,2.655767,43.659544,2.729500
min,1.0,76.0,1799.000000,0.000000e+00,0.000000,0.000000,0.000000,0.000000,60.800000,0.000000,61.300000,0.000000
25%,1.0,76.0,1800.000000,3.791500e+04,8220.000000,1820.000000,232.300000,0.140000,118.000000,0.290000,120.300000,0.290000
50%,1.0,76.0,1800.000000,4.074690e+05,10807.000000,2832.000000,233.600000,0.970000,180.300000,0.730000,182.600000,0.710000
75%,1.0,76.0,1800.000000,1.680593e+06,23523.000000,4251.000000,234.900000,3.990000,190.200000,2.420000,191.500000,2.620000
max,1.0,76.0,1964.000000,8.146009e+06,105401.000000,11302.000000,239.700000,19.140000,213.400000,13.920000,206.600000,13.830000